/* Reset basic styles */
 .logo, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color:  #6a2c7062; /* Soft pink for a beauty theme */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0px; /* Espacement intérieur */
    border-radius: 15px; /* Coins arrondis */
    max-width: 100%;
    
}

/* Logo Styling */




/* Navigation Menu */
.menu ul {
    display: flex;
    gap: 10px;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    color:  #C7AE6A;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: color 0.3s, border-bottom 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Hover effect */
.menu ul li a:hover {
    color: #6a2c70;
    border-bottom: 2px solid  #6a2c70;
}
/* Container for the logo */

.logo img{
    height: 100px;
    width: auto;
    border-radius: 15px;
}
/* Appliquer l'image de fond au body */
body {
    background-image: url('Backgroundimg.jpg'); /* Remplacez 'image.jpg' par le chemin vers votre image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    margin: 0; 
} 

